In [30]:
import pandas as pd
import numpy as np

df_offensive = pd.read_csv("Seasons_Stats.csv")
df_heights = pd.read_csv("player_data.csv")
df_2012 = pd.read_csv("2012.csv")
df_2013 = pd.read_csv("2013.csv")
df_2014 = pd.read_csv("2014.csv")
df_2015 = pd.read_csv("2015.csv")
df_2016 = pd.read_csv("2016.csv")
df_2017 = pd.read_csv("2017.csv")

df_heights = df_heights[['name', 'height']]
df_offensive = df_offensive[['Year', 'Player', 'PTS', 'TOV', 'AST', '3P%', 'FG%']]
df_total = df_heights.merge(df_offensive, how='left', left_on='name', right_on='Player')

df_2012['year'] = 2012.0
df_2013['year'] = 2013.0
df_2014['year'] = 2014.0
df_2015['year'] = 2015.0
df_2016['year'] = 2016.0
df_2017['year'] = 2017.0

df_total_year = pd.concat([df_2012, df_2013, df_2014, df_2015, df_2016, df_2017])
df_total = df_total_year.merge(df_total, how='inner', left_on=['player', 'year'], right_on=['name', 'Year'])
df_total

,Column 1,player,team,defense rating,year,name,height,Year,Player,PTS,TOV,AST,3P%,FG%
0,1,Jimmy Butler,CHI,100.5,2012.0,Jimmy Butler,6-8,2012.0,Jimmy Butler,109.0,14.0,14.0,0.182,0.405
1,2,Norris Cole,MIA,107.6,2012.0,Norris Cole,6-2,2012.0,Norris Cole,441.0,105.0,133.0,0.276,0.393
2,4,Sasha Pavlovic,POR,86.1,2012.0,Sasha Pavlovic,6-8,2012.0,Sasha Pavlovic,120.0,20.0,18.0,0.293,0.391
3,5,DeAndre Liggins,OKC,82.1,2012.0,DeAndre Liggins,6-6,2012.0,DeAndre Liggins,33.0,10.0,5.0,0.000,0.480
4,6,Lou Williams,ATL,102.1,2012.0,Lou Williams,6-1,2012.0,Lou Williams,956.0,71.0,221.0,0.362,0.407
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,48,Malcolm Brogdon,MIL,106.5,2017.0,Malcolm Brogdon,6-5,2017.0,Malcolm Brogdon,767.0,113.0,317.0,0.404,0.457
293,49,Tyreke Evans,MEM,108.9,2017.0,Tyreke Evans,6-6,2017.0,Tyreke Evans,411.0,61.0,124.0,0.356,0.405
294,49,Tyreke Evans,MEM,108.9,2017.0,Tyreke Evans,6-6,2017.0,Tyreke Evans,248.0,39.0,91.0,0.300,0.401
295,49,Tyreke Evans,MEM,108.9,2017.0,Tyreke Evans,6-6,2017.0,Tyreke Evans,163.0,22.0,33.0,0.438,0.413
296,50,Raymond Felton,OKC,107.8,2017.0,Raymond Felton,6-1,2017.0,Raymond Felton,538.0,83.0,191.0,0.319,0.430