In [8]:
import pandas as pd
import numpy as np

df_offensive = pd.read_csv("Seasons_Stats.csv")
df_heights = pd.read_csv("player_data.csv")
df_2012 = pd.read_csv("2011.csv")
df_2013 = pd.read_csv("2012.csv")
df_2014 = pd.read_csv("2013.csv")
df_2015 = pd.read_csv("2014.csv")
df_2016 = pd.read_csv("2015.csv")
df_2017 = pd.read_csv("2016.csv")

df_heights = df_heights[['name', 'height']]
df_offensive = df_offensive[['Year', 'Player', 'PTS', 'TOV', 'AST', '3P%', 'FG%', 'G']]
df_total = df_heights.merge(df_offensive, how='left', left_on='name', right_on='Player')

df_2012['year'] = 2012.0
df_2013['year'] = 2013.0
df_2014['year'] = 2014.0
df_2015['year'] = 2015.0
df_2016['year'] = 2016.0
df_2017['year'] = 2017.0

df_total_year = pd.concat([df_2012, df_2013, df_2014, df_2015, df_2016, df_2017])
df_total = df_total_year.merge(df_total, how='inner', left_on=['player', 'year'], right_on=['name', 'Year'])
df_total['PTSPG'] = df_total['PTS'] / df_total['G']
df_total['TOVPG'] = df_total['TOV'] / df_total['G']
df_total['ASTPG'] = df_total['AST'] / df_total['G']
df_total = df_total[['player', 'year', 'height', 'defense rating', 'PTSPG', 'TOVPG', 'ASTPG', '3P%', 'FG%']]

def height_fix(height) :
    height_split = height.split('-')
    total = (int(height_split[0]) * 12) + int(height_split[1])
    return total

df_total['height'] = df_total['height'].apply(height_fix)
df_total

,player,year,height,defense rating,PTSPG,TOVPG,ASTPG,3P%,FG%
0,Brandon Jennings,2012.0,73,106.3,19.090909,2.212121,5.530303,0.332,0.418
1,Brandon Jennings,2012.0,73,106.3,19.090909,2.212121,5.530303,0.332,0.418
2,Jeff Teague,2012.0,74,101.0,12.590909,2.030303,4.863636,0.342,0.476
3,Jeff Teague,2012.0,74,101.0,12.590909,2.030303,4.863636,0.342,0.476
4,John Wall,2012.0,76,106.2,16.303030,3.863636,8.030303,0.071,0.423
...,...,...,...,...,...,...,...,...,...
407,Derrick Rose,2017.0,75,113.0,18.031250,2.296875,4.421875,0.217,0.471
408,Will Barton,2017.0,78,108.4,13.666667,1.616667,3.433333,0.370,0.443
409,Jeff Teague,2017.0,74,107.9,15.292683,2.634146,7.792683,0.357,0.442
410,Cory Joseph,2017.0,75,106.1,9.250000,1.350000,3.312500,0.356,0.452
411,Ramon Sessions,2017.0,75,96.9,6.240000,0.920000,2.580000,0.339,0.380